@import '../variables';

.menu {
  ul {
    list-style: none;
    font-size: 0.8rem;
    padding-left: 0.5rem;
    font-weight: 500;

    li {
      display: block;

      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        padding: 0.4rem 0.8rem;
        color: $text-color;
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;

        img {
          opacity: 0.5;
          margin-left: auto;
          height: 20px;
          width: auto;
        }

        &:hover,
        &:focus {
          background-color: rgba(0, 0, 0, 0.05);
        }

        &:active {
          background-color: rgba(0, 0, 0, 0.1);
        }

        &:focus:not(:active) {
          outline: none;
          box-shadow: 0 0 0 1px #ccc;
        }
      }

      > span {
        display: block;
        padding: 0.4rem 0.8rem;
        border: 1px solid rgba(0, 0, 0, 0);
        opacity: 0.7;
      }

      &.active > a {
        background-color: #fff;
        border: none;
        box-shadow: 0 0 0 1px #efefef;
        border-right: 3px solid $primary-color;
        color: $primary-color;
      }
    }
  }

  > ul {
    padding-left: 0;

    > li.depth-0 {
      margin-bottom: 1rem;
    }
  }
}
