$background-color: #f5f7f9;
$primary-color: #153cff;

$main-shadow: 0 1px 1px 0 rgba(116, 129, 141, 0.1);

$container-width: 800px;

$text-color: #333;
$paragraph-margin: 1.3rem;

$border-radius: 3px;

$body-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans,
  Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;

$header-font: $body-font;
$header-height: 4.5rem;
$header-height-mobile: 4rem;

$media-small: 576px;
$media-medium: 768px;

$transition-time: 0.2s;