article.content {
    nav {
        display: flex;
        justify-content: space-between;

        :last-child {
            margin-left: auto;
        }
    }

    img {
        max-width: 100%;
        height: auto;
    }
}