@import '../styles/variables';

main {
  padding-top: $header-height;
}

header {
  background: #fff;
  color: #153cff;
  box-shadow: $main-shadow;
  border-bottom: 1px solid #ddd;
  z-index: 10;
  position: absolute;
  width: 100%;

  .container {
    max-width: $container-width + 2 * 250px;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 1rem;
    height: $header-height;

    a {
      display: flex;
      align-items: center;
      color: $text-color;
      text-decoration: none;
      font-weight: 500;
      font-size: 1.5rem;

      img {
        width: 40px;
        height: auto;
        margin: 0;
        margin-right: 1rem;
      }
    }
  }
}

@media(max-width: $media-small) {
  header .container {
    height: $header-height-mobile;
  }

  main {
    padding-top: $header-height-mobile;
  }
}