@import '../styles/variables';

* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  background: $background-color;
  font-family: $body-font;
}

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 19;

  background-color: rgba(0,0,0,0.7);
  backdrop-filter: blur(10px);

  opacity: 0;
  transition: opacity $transition-time;
  pointer-events: none;

  &.open {
    pointer-events: all;
    opacity: 1;
  }
}

main {
  display: flex;
  align-items: stretch;

  min-height: 100vh;

  aside {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0;
    flex-shrink: 0;
    padding-top: 1rem;

    &.left {
      position: sticky;
      top: 0;
      min-width: 250px;
      max-height: 100vh;
      overflow-y: auto;
      background: $background-color;
      z-index: 20;

      @media(max-width: $media-small) {
        position: fixed;
        padding: 0;
        height: 100vh;
        transition: transform $transition-time, box-shadow $transition-time;
        transform: translateX(-100%);

        &.open {
          transform: translateX(0);
          box-shadow: 0 0 1rem 0 rgba(0,0,0,0.2);
        }
      }

      nav {
        margin-left: auto;
        width: 250px;
        padding-left: 1rem;
      }
    }

    &.right {
      background: #fff;

      @media(max-width: $media-small) {
        display: none;
      }
    }
  }

  > article {
    background: #fff;
    padding: 2rem;
    flex-grow: 10000;
    max-width: $container-width;
    border-left: 1px solid #eee;
    overflow-x: auto;

    @media(max-width: $media-small) {
      padding: 1rem;
    }
  }
}