@import '../styles/variables';

* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  background: $background-color;
  font-family: $body-font;
}

main {
  display: flex;
  align-items: stretch;

  min-height: 100vh;

  aside {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0;
    flex-shrink: 0;
    padding-top: 1rem;

    &.left {
      min-width: 250px;

      nav {
        margin-left: auto;
        width: 250px;
      }
    }

    &.right {
      background: #fff;
    }
  }

  > article {
    background: #fff;
    padding: 2rem;
    flex-grow: 2;
    max-width: $container-width;
    box-shadow: $main-shadow;
  }
}