@import "../../../config/_style";

$background-color: #f5f7f9 !default;
$primary-color: #1565c0 !default;

$container-width: 800px !default;

$main-shadow: 0 1px 1px 0 rgba(116, 129, 141, 0.1) !default;

$text-color: #333 !default;
$paragraph-margin: 1.3rem !default;

$border-radius: 3px !default;

$body-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans,
  Ubuntu, Cantarell, 'Helvetica Neue', sans-serif !default;

$header-font: $body-font !default;
$header-height: 4.5rem !default;
$header-height-mobile: 4rem !default;

$media-small: 576px !default;
$media-medium: 768px !default;

$transition-time: 0.2s !default;
