@import '/variables';

article.content {
    nav {
        display: flex;
        justify-content: space-between;

        .next {
            margin-left: auto;
        }
    }

    img {
        max-width: 100%;
        height: auto;
    }
}